// colors client
$color-client-1:#FDFDFD;
$color-client-2: #c76547;
$color-client-3: #282828;

$color-black: #000;
$color-white: #fff;

$color-bg: #f8f8f8;

// dimmed
$color-dimmed: #888;

// color scrollbar
$color-scrollbar-bg: color-client-2;
$color-li-arrow: #1a5ab9;

$box-shadow: rgba(0,0,0,0.335);

// cards
$color-card-bg: #000;
