.form {
    position: relative;
    right: 2vw;
    display: flex;
    align-items: center;
    width: fit-content;

    input {
        outline: none;
        color: #121212;
        background-color: lightgray;
        padding: 8px 12px;
        border-radius: 10px;
        visibility: hidden;
        width: 0;
    }

    /* input.active {
        visibility: visible;
        width: 100%;
    } */

    > button {
        background-color: transparent;
        outline: none;
        border: none;
    }

    .searchIcon {
        margin: 0.5rem 0 0 0.25rem;
        color: #dbdbdb;
        font-size: 1.5rem;
        cursor: pointer;
    }
}